## General rules

# Build folders
[Bb]in/
[Oo]bj/

# NPM packages
npm-debug.log
node_modules

# NuGet packages
packages

# Personal database queries (no need to save)
SolutionItems/Scripts/Database/Personal/

# Publish profiles
*.pubxml

# User-specific files
*.suo
*.user

# Visual Studio
.vs/
UpgradeLog.htm

# Others
~$*
Thumbs.db
